
    <div class="mini-cart">
        <div class="top-cart-title">
            <a href="@Url.Action("GioHang","GioHang")" >
                Giỏ Hàng
            
                    <span class="price"> @ViewBag.Tongsoluong</span>
                </a>
              

</div>
    </div>
