@model IEnumerable<BookStore.Models.CHUDE>

        @foreach (var item in Model)
        {
            <li class="nosub">
                <a href="@Url.Action("SPTheochude", "BookStore", new { id= item.MaCD})">
                    @item.TenChuDe
                </a>
            </li>      
        }
   
